*.pyc
*.log
alexa-scraper/cache
media-source-dashboard/mc-client.config
story-fetcher/mc-client.config

.DS_Store

*.config
.Rproj.user

data/Step3_Combine/.RData

data/Step3_Combine/.Rhistory

*.Rproj

data/Step4_AddHHI/.RData

data/Step4_AddHHI/.Rhistory
