<!DOCTYPE html>
<html>

<head>
  <title>Sentence Counts</title>
  <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="/static/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css"/>
</head>

<body>

<div class="container-fluid">
  <div class="row-flud">
    <div class="col-md-8">
      <h1>April 2014 Sentence Counts</h1>
      <h3>{{ total_mc_stories }} sentences in Media Cloud</h3>
      <h3>{{total_db_stories}} stories in the local database</h3>
      <table class="table table-striped table-condensed">
        <tr>
          <th>Id</th>
          <th>Url</th>
          <th>Category</th>
          <th>MC Sentences</th>
          <th>DB Stories</th>
          <th>Links</th>
        </tr>
        {% for media_source in media_info %}
          {% if media_source['sentence_count'] <= 0 %}
            <tr class="danger">
          {% else %}
            <tr>
          {% endif %}
            <td>{{ media_source['media_id'] }}</td>
            <td>{{ media_source['url'] }}</td>
            <td>{{ media_source['category'] }}</td>
            <td>{{ media_source['sentence_count'] }}</td>
            <td>{{ media_source['db_stories'] }}</td>
            <td>
              <a href="http://www.mediacloud.org/admin/feeds/list/{{media_source['media_id']}}">feeds</a>
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>

<script type="text/javascript" src="/static/js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/d3.v2.min.js"></script>

<script type="text/javascript">

</script>

</body>

</html>
